We load the dataset.

In [3]:
from sklearn import datasets
from sklearn import svm
iris = datasets.load_iris()
digits = datasets.load_digits()

# setup classifier
clf = svm.SVC(gamma=0.001, C=100.)
# train classifier
clf.fit(digits.data[:-1], digits.target[:-1])

#  predict last value
predicted = clf.predict(digits.data[-10:])
print(predicted)

[5 4 8 8 4 9 0 8 9 8]

Use pandas library to read our local .csv file containing the Students Performance dataset ( https://www.kaggle.com/spscientist/students-performance-in-exams ).

In [8]:
import pandas as pd

df = pd.read_csv('./StudentsPerformance.csv')
df.sample(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
193,male,group D,some college,standard,completed,77,62,62
960,female,group A,some college,standard,none,56,58,64
454,female,group C,associate's degree,free/reduced,none,53,61,62
421,female,group D,high school,standard,completed,57,58,64
370,male,group E,some college,standard,none,84,77,71

Print an insight of the data we are dealing with.

In [9]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

Plot using Seaborn and

In [11]:
import seaborn as sns
import matplotlib.pyplot as plt
p = sns.countplot(x="math score", data = df, palette="muted")
_ = plt.setp(p.get_xticklabels(), rotation=90)